@using Models.Models
@model ProductVM


<form method="post">
    <div class="border p-3 mt-3 bg-body">

        <div class="row pb-3">

            <h2 class="text-white">
            <i class="bi bi-plus-circle"></i>  Create Product
            </h2>
        </div>

        <div class="mb-3">

            <label asp-for="Product.Title" class="p-0"></label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-info "></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Description" class="p-0"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-info"></span>

        </div>

        <div class="mb-3">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-info"></span>

        </div>

        <div class="mb-3">
            <label asp-for="Product.CategoryId" class="p-0"></label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select shadow">
                <option disabled selected> Select Category</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-info"></span>

        </div>



        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn  btn-info form-control">Create </button>
            </div>

            <div class="col-6 p">
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary border form-control">Back To List</a>
            </div>

        </div>
    </div>
    </form>




