@using Models.Models
@model Product

<form method="post">
    <div class="border p-3 mt-3 bg-body">

        <div class="row pb-3">

            <h2 class="text-white">
                <i class="bi bi-trash3"></i> Delete Product
            </h2>
        </div>


        <div class="mb-3">

            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" disabled class="form-control" />

        </div>

        <div class="mb-3">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description"  disabled class="form-control" />
       
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" disabled class="form-control" />
          
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn  btn-info form-control">Delete</button>
            </div>

            <div class="col-6 p">
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary border form-control">Back To List</a>
            </div>

        </div>
    </div>

</form>


