@using Models.Models
 @model List<Category>

<h1>Category list </h1>
<table class=" = table table-bordered table align-text-bottom"
<thead>
<tr>
    <th class="text-white">
    Category name
    </th>

    <th class="text-white">
     Display Order
    </th>
</tr>
</thead>


<tbody>
    @foreach (var obj in Model.OrderBy(u=>u.DisplayOrder))
    {
      <tr>
    
          <td class="text-light">
               @obj.Name
          </td>

           <td class="text-light">
               @obj.DisplayOrder
           </td>

      </tr> 
    }
</tbody>

</table>