@using Models.Models
 @model List<Category>

<div class="container">
    <div class="row pt-4 pb-1">
        <div class="col-6">
            <h2 class="text-white">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
             <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>  Create New Category
             </a>
        </div>
    </div>


    <table class=" = table table-bordered table align-text-bottom"
<thead>
<tr>
    <th class="text-white">
    Category name
    </th>

    <th class="text-white">
     Display Order
    </th>
</tr>
</thead>


<tbody>
 @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
{
   <tr>

     <td class="text-light">
       @obj.Name
     </td>

    <td class="text-light">
       @obj.DisplayOrder
   </td>

    </tr>
 }
</tbody>
</table>
</div>
